version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: weekly
      time: "12:00"
      timezone: "Etc/UTC"
    reviewers: [meltano/engineering]
    labels: [deps]
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    reviewers: [meltano/engineering]
    labels: [deps]
    groups:
      artifacts:
        patterns:
          - "actions/*-load-artifact"
