html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: IBM Plex Sans, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  background: url("../images/meltano-background.jpeg");
  color: #fff;
}

main {
  display: flex;
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
}

.inline-code-block {
  display: inline;
}

/* BUTTONS AND LINKS */

.nav__link {
  color: #3438bf;
  text-decoration: none;
}

.primary-button {
  margin: 25px auto;
  background: #d9042b;
  color: #fff;
  border-radius: 38px;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* PLUGIN PAGES (e.g. ../extractors) */

.plugins-overview {
  min-width: 70%;
}

.plugins-overview h1,
.plugins-overview p {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
}

.plugins-list {
  width: 100%;
  height: auto;
  background: #e8f0ff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-left: 0;
  text-align: center;
  margin: 40px auto 80px;
}

.plugins-list .page-single-plugin {
  color: #000;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-basis: 50%;
}

.plugins-list .page-single-plugin a {
  color: #3438bf;
  text-decoration: none;
}

.plugins-list .page-single-plugin a:hover {
  background: #b0e3c1;
}

.plugins-list .pager-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.plugins-list .pager-container .active {
  background-color: #c0c0c4;
}

.plugins-list .pager-container__link {
  text-align: center;
  padding: 0.6rem 1.2rem;
  color: #3438bf;
  text-decoration: none;
}

/* TEMPLATES PAGES (e.g. ../utilities/airflow/) */

.single-plugin-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 75%;
}

.single-plugin-overview h1 {
  font-size: 2.5em;
}

.single-plugin-overview a {
  color: #3438bf;
  text-decoration: none;
}

.single-plugin-overview pre code {
  background: #b0e3c1;
  padding: 12px;
  border: 1px solid #62626e;
}

.single-plugin-detail {
  background: #e8f0ff;
  color: #3438bf;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  text-align: left;
}

.single-plugin-detail .single-plugin-top-bar {
  width: 100%;
  border-bottom: 2px solid #62626e;
  background: #fbbf52;
  text-align: left;
  padding-left: 10px;
}

.single-plugin-detail .single-plugin-main {
  width: 100%;
  text-align: left;
  padding: 0 10px;
}

.single-plugin-detail .single-plugin-main pre {
  margin: 20px auto;
}

.single-plugin-detail .single-plugin-main pre code {
  display: inline-block;
}

.single-plugin-detail .single-plugin-aside {
  width: 100%;
  background: #f1f1f2;
  word-break: break-word;
}

.single-plugin-detail .single-plugin-aside h4 {
  color: #62626e;
  margin: 10px auto;
}

.single-plugin-detail .single-plugin-aside .link-box {
  display: flex;
}

.single-plugin-detail .single-plugin-aside .link-box .aside-icon {
  width: 20px;
  margin-right: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .plugins-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 70px;
  }

  .plugins-overview h1 {
    font-size: 2.5em;
  }

  .plugins-overview h1,
  .plugins-overview p {
    margin-left: 0;
    margin-right: 0;
  }

  .plugins-list .page-single-plugin {
    flex-basis: 33.333333%;
  }

  .single-plugin-overview {
    padding: 0 70px;
  }

  .single-plugin-detail {
    margin: 40px auto 80px;
  }
}

@media (min-width: 1000px) {
  .plugins-overview,
  .single-plugin-overview {
    padding: 0 200px;
  }

  .single-plugin-detail .single-plugin-main {
    width: 60%;
  }

  .single-plugin-detail .single-plugin-aside {
    width: 37%;
    border-left:2px solid #62626e;
    padding: 10px 0 0 10px;
  }
}
