[flake8]
select =
    # flake8-bandit
    S
    # flake-brokenline
    N
    # flake8-bugbear
    B
    # flake8-comprehensions
    C4
    # flake8-debugger
    T
    # flake8-docstrings
    D
    # flake8-eradicate
    E80
    # flake8-rst-docstrings
    RST
    # flake8-string-format
    P
    # mccabe
    C90
    # pep8-naming
    N
    # pycodestyle
    E
    W
    # pyflakes
    F
    # wemake-python-styleguide
    WPS
    # darglint
    DAR

ignore =
    # flake8-bandit
    # Allow subprocess module to be used
    S404
    # pycodestyle
    # Allow for line breaks where Black decides are valid
    W503
    # Allow for long lines since we delegate to Black for enforcement
    E501
    # wemake-python-styleguide
    # Allow blacklisted variable names that can be clear enough in method context
    WPS110
    # Allow upper-case constants in Enum subclasses
    WPS115
    # Allow "too many"
    WPS211
    # Allow local folder imports (import .module)
    WPS300
    # Allow f-strings
    WPS305
    # Ignore missing base class, required by pyupgrade: https://github.com/asottile/pyupgrade#rewrites-class-declaration
    WPS306
    # Allow assignment expressions (walrus operator :=)
    WPS332
    # Allow 'incorrect' order of methods in a class
    WPS338
    # Allow `.` at beginning of line to accommodate Black formatting of multiline chained function calls
    WPS348
    # Allow `pass` keywords in `except` bodies to prevent falling through to another `except`
    WPS420
    # Allow nested classes
    WPS431
    # Allow subclassing a builtin, such as 'str' (used for serializable Enums)
    WPS600
    # Allow using @staticmethod
    WPS602
    # Ignore 'too many return statements' - noqa parse inconsistent between py38 vs prior
    WPS212
    # Various WPS refactor heavy warnings to ignore that currently have a poor risk/reward tradeoff.
    WPS100
    WPS112
    WPS201
    WPS220
    WPS221
    WPS226
    WPS229
    WPS231
    WPS232
    WPS237
    WPS316
    WPS337
    WPS352
    WPS404
    WPS407
    WPS412
    WPS429
    WPS430
    WPS433
    WPS454
    WPS501

exclude =
    .venv
    venv
    *.md
inline_quotes = double
max_line_length = 88
show_source = true
extended_default_ignore = []
max_imports = 20
docstring_style = google
