test
discovery.yml

_site
.sass-cache
.jekyll-metadata
public/
.ruby-version

# ignore build artifacts
/discovery.yml
/test
singer/taps.json
singer/targets.json
singer/api/v1/taps.json
singer/api/v1/targets.json
singer/taps/
singer/targets/
.venv/
*.env
*.DS_Store
.vscode/*
.idea