[build]
  base = "."
  command = """\
  sed -i \"s|API_URL_PLACEHOLDER|${PROD_API}|g\" netlify.toml && \
  HUB_SITE_URL=$URL ./utility_scripts/build/build_with_metrics.sh
  """
  publish = "dist"

[context.deploy-preview]
  command = """\
    sed -i \"s|API_URL_PLACEHOLDER|${STAGING_API}|g\" netlify.toml && \
    HUB_SITE_URL=$DEPLOY_PRIME_URL ./utility_scripts/build/build_with_metrics.sh"
    """

[[redirects]]
  from = "/taps/*"
  to = "/extractors/tap-:splat"
  force = true

[[redirects]]
  from = "/targets/*"
  to = "/loaders/target-:splat"
  force = true

[[redirects]]
  from = "/singer/taps"
  to = "/extractors"
  force = true

[[redirects]]
  from = "/singer/targets"
  to = "/loaders"
  force = true

[[redirects]]
  from = "/meltano/api/v1/*"
  to = "API_URL_PLACEHOLDER/:splat"
  status = 301
  force = true
