---
layout: default
title: Targets
permalink: /targets/index.html
---

<div class="home">

    <h1 class="page-heading">Targets</h1>

    <ul class="target-list">
        {% for target in site.targets %}
        <h2>
            <a href="{{ target.url | prepend: site.baseurl | prepend: site.url }}">
                {{ target.name }}
            </a>
        </h2>
        <p>
            {% if target.variant %}
            {{ target.singer_name }}--{{ target.variant }}
            {% else %}
            {{ target.singer_name }}
            {% endif %}
        </p>
        {% endfor %}
    </ul>

</div>
