---
layout: default
title: Targets
permalink: /targets/index.html
---

<div class="home">

    <h1 class="page-heading">Targets</h1>

    <ul class="target-list">
        {% for target in site.targets %}
        <h2>
            <a href="{{ target.url | prepend: site.baseurl | prepend: site.url }}">
                {{ target.name }}
            </a>
        </h2>
        <p>
            {{ target.singer_name }}{% if target.variants.size > 0 %} - {{target.variants.size}} variants available {% endif %}
        </p>
        {% endfor %}
    </ul>

</div>
