<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <div class="footer-icon-meltano">
          {% include icon-meltano-purple.html %}
          <span>Hub</span>
        </div>
        <ul class="social-media-list">
          {% if site.github_username %}
            <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %} 
          {% if site.twitter_username %}
            <li>
              {% include icon-twitter.html username=site.twitter_username %}
            </li>
          {% endif %} 
          {% if site.slack_username %}
            <li>
              {% include icon-slack.html username=site.slack_username %}
            </li>
          {% endif %} 
          {% if site.youtube_username %}
            <li>
              {% include icon-youtube.html username=site.youtube_username %}
            </li>
          {% endif %}
        </ul>   
      </div>
      <div class="footer-col footer-col-2">
        {{ site.description | markdownify }}
      </div>
    </div>
  </div>
</footer>
