<div class="dropdown">
  <form class="homepage-search-form">
    <input class="homepage-search-input" type="search" placeholder="Search...{{include.search}}">{% include icon-search.html %}</input>
  </form>
  <div class="dropdown-content navbar-search-results">
    <ul class="navbar-search-list">
      {% for collection in site.collections %}
      <h2 class="navbar-search-label-{{collection.label}}">{{ collection.label }}</h2>
      <ul class="navbar-search-label-{{collection.label}}-list">
        {% for subfolder in site.data.meltano.[collection.label] %}
          {% for item in subfolder %}
            {% if item.label %}
              <li data-search-terms="{{item.label}} {{item.name}} {{item.namespace}}"><a href="#">{{item.label}} LABEL</a></li>
            {% else %}
              <li data-search-terms="{{item.label}} {{item.name}} {{item.namespace}}"><a href="#">{{item.name}} NAME</a></li>
            {% endif %}
          {% endfor %}
        {% endfor %}
      </ul>
    {% endfor %}
    </ul>
  </div>
</div>



