{% if include.search == "extractors" or include.search == "loaders" or include.search == "taps" or include.search == "targets"%}
<input
  type="search"
  class="grid-search"
  placeholder="Filter {{include.search}}..."
  disabled="disabled"
/>
{% endif %}

<ul class="button-grid">
  {% for plugin in include.plugins %}
  <li data-search-terms="{{plugin.label}} {{plugin.name}} {{plugin.namespace}}">
    {% if include.search == "taps" or include.search == "targets" %}
    <a href="{{ plugin.singer_url }}">
    {% else %}
    <a href="{{ plugin.url }}">
    {% endif %}
      <div class="logo-well">
        <img
          src="{{ plugin.logo_url }}"
          class="logo"
        />
      </div>
      {% if plugin.label %}
        <span class="label"> {{ plugin.label }} </span>
      {% else %}
        <span class="label"> {{ plugin.name }} </span>
      {% endif %}
    </a>
  </li>
  {% endfor %} {% if include.more_url %}
  <li>
    <a href="{{ include.more_url }}">
      <strong>{{ include.more_title }}</strong>
      <p>{{ include.more_description }}</p>
    </a>
  </li>
  {% endif %}
</ul>
