<ul class="button-grid">
  {% for plugin in include.plugins %}
  <li>
    <a href="{{ plugin.url | prepend: site.baseurl | prepend: site.url }}">
      <div class="logo-well">
        <img
          src="{{ plugin.logo_url | prepend: site.baseurl | prepend: site.url }}"
          class="logo"
        />
      </div>
      <span class="label"> {{ plugin.label }} </span>
    </a>
  </li>
  {% endfor %} {% if include.more_url %}
  <li>
    <a href="{{ include.more_url }}">
      <strong>{{ include.more_title }}</strong>
      <p>{{ include.more_description }}</p>
    </a>
  </li>
  {% endif %}
</ul>
