html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.5; 
}

main {
  display: flex;
  flex-grow: 1;
}

header,
main,
footer {
  flex-shrink: 0;
  z-index: 11;
}

.inline-code-block {
  display: inline;
  padding: 3px;
}

/* BUTTONS AND LINKS */

.nav__link {
  color: #3438bf;
  text-decoration: none;
}

.primary-button {
  margin: 25px auto;
  background: #d9042b;
  color: #fff;
  border-radius: 38px;
  display: flex;
  align-items: center;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
}

/* PLUGIN PAGES (e.g. ../extractors) */

.plugins-overview h1 {
  margin-left: 25px;
  margin-right: 25px;
  text-align: center;
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif; 
}

.plugins-overview  > p {
  font-weight: 600;
  font-family: 'Plus Jakarta Sans', sans-serif; 
  text-align: center;
}

.plugins-overview  > div > p {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 400;
  text-align: center;
}

.plugins-list {
  width: 100%;
  height: auto;
  background: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-left: 0;
  text-align: center;
  margin: 40px auto 80px;
}

.plugins-list .page-single-plugin {
  color: #000;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 20px auto;
  flex-basis: 50%;
}

.plugins-list .page-single-plugin:hover {
  border-bottom: 5px solid #02a5a5;
}

.plugins-list .page-single-plugin a {
  color: #3438bf;
  text-decoration: none;
}

.plugins-list .pager-container {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 20px auto;
}

.plugins-list .pager-container .active {
  background-color: #c0c0c4;
}

.plugins-list .pager-container__link {
  text-align: center;
  padding: 0.6rem 1.2rem;
  color: #3438bf;
  text-decoration: none;
}

/* TEMPLATES PAGES (e.g. ../utilities/airflow/) */

.single-plugin-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-plugin-overview h1 {
  font-size: 2.5em;
}

.single-plugin-overview a {
  color: #3438bf; 
  text-decoration: none;
}

.single-plugin-detail {
  margin: 40px auto 80px;
  color: #29292f;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  text-align: left;
}

.single-plugin-detail .single-plugin-top-bar {
  width: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(49, 23, 114, 0.15);
  margin-bottom: 16px;
  text-align: left;
  border-radius: 5px;
}

.single-plugin-detail .single-plugin-main {
  width: 100%;
  text-align: left;
  padding: 0 10px;
}

.single-plugin-detail .content-body {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid rgba(49, 23, 114, 0.15);
  border-radius: 5px;
  backdrop-filter: blur(13px);
}

.single-plugin-detail .inner-body {
  background-image: linear-gradient(30deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 70%, #ffffff 100%);
}

.single-plugin-detail .single-plugin-main pre {
  margin: 20px auto;
}

.single-plugin-detail .single-plugin-main pre code {
  display: inline-block;
}

.single-plugin-detail .single-plugin-aside {
  width: 100%;
  height: 100%;
  background: rgba(49, 23, 114, 0.05);
  word-break: break-word;
  border: 1px solid rgba(49, 23, 114, 0.15);
  border-radius: 5px;
}

.single-plugin-detail .single-plugin-aside .aside-inner {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 100%);
}

.single-plugin-detail .single-plugin-aside h4 {
  color: #62626e;
  margin: 10px auto;
}

.single-plugin-detail .single-plugin-aside .link-box {
  display: flex;
}

.single-plugin-detail .single-plugin-aside .link-box .aside-icon {
  width: 20px;
  margin-right: 10px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .plugins-overview {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .plugins-overview h1 {
    font-size: 2.5em;
  }

  .plugins-overview h1,
  .plugins-overview p {
    margin-left: 0;
    margin-right: 0;
  }

  .plugins-list .page-single-plugin {
    flex-basis: 20%;
  }
}

/* 
font-family: 'Hanken Grotesk', sans-serif;
font-family: 'IBM Plex Mono', monospace;
font-family: 'Inter', sans-serif;
font-family: 'Plus Jakarta Sans', sans-serif; 
*/
.font-pjs {
  font-family: 'Plus Jakarta Sans', sans-serif; 
}

.font-hg {
  font-family: 'Hanken Grotesk', sans-serif;
}
.font-ibm {
  font-family: 'IBM Plex Mono', monospace;
}

pre[class*="language-"] {
  width: 100%;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
  font-family: 'Plus Jakarta Sans', sans-serif; 
  color: #311772;
}

.brackets {
  position: relative;
  display: inline-block;
}
.brackets:before,
.brackets:after
 {
  content: "/";
  color: #f963bc;
}

.tooltip {
  position: relative;
}
.tooltip .tooltip-content {
  visibility: hidden;
  width: max-content;
  background-color: #62626e;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  left: 105%;
  top: -5px;
}
.tooltip .tooltip-content::after {
  content: " ";
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #62626e transparent transparent;
}
.tooltip:hover .tooltip-content {
  visibility: visible;
}
