---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page Not Found">
  <div class="file-not-found flex justify-center items-center min-h-[50vh]">
    <p class="text-3xl md:text-5xl pb-4 pt-8 font-bold font-pjs text-purple">
      Whoops. Nothing to see here!
    </p>
  </div>
</BaseLayout>
