---
layout: default
---

{% assign plugins = site.data[page.plugin_type] | sort %}
<div class="home">
  <h1 class="page-heading">{{page.title}}</h1>

  <ul class="plugin-list">
    {% for plugin_hash in plugins %} {% assign plugin = plugin_hash[1] %}
    <li>
      <a href="{{ plugin.url | prepend: site.baseurl | prepend: site.url }}">
        <div class="logo-well">
          <img
            src="{{ plugin.logo_url | prepend: site.baseurl | prepend: site.url }}"
            class="logo"
          />
        </div>
        <span class="label"> {{ plugin.label }} </span>
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
