---
layout: default
header: singer
---

{% assign plugin = page.plugin %} {% assign variant = page.variant %} {% assign
maintainer = site.data.maintainers[variant.name] %}
<article class="plugin">
  <header class="post-header">
    <h1 class="post-title">
      <img class="logo" src="{{plugin.logo_url}}" />
      {{ plugin.label }} {% if page.variant_specific %} (<code>
        {{variant.name}}
      </code>
      variant) {% endif %}
    </h1>
  </header>

  <div class="post-content">
    <p>
      The <code>{{plugin.singer_name}}</code>
      <a href="/singer/{{plugin.type}}s">Singer {{plugin.type}}</a> pulls data
      from the
      <a href="{{plugin.domain.url}}" target="_blank">{{plugin.domain.name}}</a
      >.
    </p>

    <ul>
      <li>
        <strong>Repository</strong>:
        <a href="{{variant.repo}}">{{ variant.repo }}</a>
      </li>
      <li>
        <strong>Maintainer</strong>: {% if maintainer.url %}
        <a href="{{maintainer.url}}" target="_blank">{{ maintainer.label }}</a>
        {% else %} {{ maintainer.name }} {%endif %}
      </li>
      <li>
        <strong>Maintenance status</strong>: {{ variant.maintenance_status }}
      </li>
    </ul>

    {% if plugin.variants.size > 1 %}

    <h2>Alternative variants</h2>

    <p>
      Multiple
      <a href="https://meltano.com/docs/plugins.html#variants" target="_blank"
        >variants</a
      >
      of <code>{{plugin.singer_name}}</code> are available. {% if
      page.variant_specific %} This document describes the
      <code>{{variant.name}}</code> variant. {% else %} This document describes
      the default <code>{{variant.name}}</code> variant, which is recommended
      for new users. {% endif %}
    </p>

    <p>Alternative variants are:</p>

    <ul>
      {% for alt_variant in plugin.variants %} {% if alt_variant != variant %}
      <li>
        <a
          href="{{ alt_variant.url | prepend: site.baseurl | prepend: site.url }}"
        >
          <code>{{alt_variant.name}}</code>
        </a>
        {% if alt_variant.default %}(default){%endif%}
      </li>
      {% endif %} {% endfor %}
    </ul>

    {% endif %}

    <h2>Installation</h2>

    <h3>Standalone</h3>

    <p>
      Install the package using
      <a href="https://pip.pypa.io/" target="_blank">pip</a>:
    </p>

    <pre><code>pip install {{variant.pip_url}}</code></pre>

    <h3>With <a href="https://meltano.com" target="_blank">Meltano</a></h3>

    {% if plugin.type == "tap" %} {% assign meltano_plugins =
    site.data.meltano.extractors %} {% assign meltano_type_article = "an" %} {%
    assign meltano_type = "extractor" %} {% else %} {% assign meltano_plugins =
    site.data.meltano.loaders %} {% assign meltano_type_article = "a" %} {%
    assign meltano_type = "loader" %} {% endif %} {% if
    meltano_plugins[plugin.name] %} {% assign meltano_variant_names =
    meltano_plugins[plugin.name].variants | map: "name" %} {% else %} {% assign
    meltano_variant_names = [] %} {% endif %} {% if meltano_variant_names
    contains variant.name or meltano_plugins[plugin.name].variant ==
    variant.name %}
    <p>
      Add the {{plugin.type}} to your
      <a
        href="https://meltano.com/docs/getting-started.html#create-your-meltano-project"
        target="_blank"
        >Meltano project</a
      >
      as {{meltano_type_article}} {{meltano_type}}:
    </p>

    <pre><code>meltano add {{meltano_type}} {{plugin.singer_name}}{% if page.variant_specific %} --variant {{variant.name}}{% endif %}</code></pre>

    <p>
      To learn more, refer to the
      <a href="/{{meltano_type}}s/{{plugin.name}}"
        >Meltano-specific documentation for
        <code>{{plugin.singer_name}}</code></a
      >.
    </p>
    {% else %}
    <p>
      Add the {{plugin.type}} to your
      <a
        href="https://meltano.com/docs/getting-started.html#create-your-meltano-project"
        target="_blank"
        >Meltano project</a
      >
      as a
      <a
        href="https://meltano.com/docs/plugin-management.html#custom-plugins"
        target="_blank"
        >custom {{meltano_type}}</a
      >:
    </p>

    <pre><code>meltano add --custom {{meltano_type}} {{plugin.singer_name}}{% if page.variant_specific %} --variant {{variant.name}}{% endif %}</code></pre>
    {% endif %}

    <h2>Settings</h2>

    {% if variant.settings.size == 0 %}
    <p>
      Check the <a href="{{variant.repo}}">README of the repository</a> for more
      information on settings for this {{plugin.type}}.
    </p>
    {% else %} {% for setting in variant.settings %} {% include setting.html
    setting=setting %} {% endfor %} {% endif %}

    <h2>Found an issue on this page?</h2>

    <p>
      This page is generated from a
      <a
        href="https://gitlab.com/meltano/hub/-/tree/main/_data/{{plugin.type}}s/{{ plugin.name }}.yml"
        >YAML file</a
      >
      that you can contribute changes to! It is also validated against a
      <a href="/singer/schema.json">JSON Schema</a> used for both taps and
      targets.
    </p>
  </div>
</article>
