name: Build and publish Meltano Hub API

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch:
    inputs:
      hub-url:
        description: The base URL of the Meltano Hub site
        required: true
        default: 'https://hub.meltano.com'
      api-url:
        description: The base URL of the Hub API
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'production' || 'preview' }}
    if: ${{ !github.event.pull_request.head.repo.fork }}
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Set up Python
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0

    - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

    - name: Install dependencies
      run: |
        uv sync

    - name: Set preview variables
      if: github.event_name == 'pull_request'
      run: |
        echo "HUB_URL=https://deploy-preview-${{ github.event.number }}--meltano-hub.netlify.app" >> $GITHUB_ENV

    - name: Set production variables
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        echo "HUB_URL=https://hub.meltano.com" >> $GITHUB_ENV

    - name: Set custom variables
      if: github.event_name == 'workflow_dispatch'
      run: |
        echo "HUB_URL=${{ github.event.inputs.hub-url }}" >> $GITHUB_ENV

    - name: Build
      env:
        API_URL: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.api-url || secrets.HUB_API_URL }}
      run: >
        uv run python utility_scripts/api/make_files.py
        -o _hub_api
        --hub-url ${{ env.HUB_URL }}
        --api-url ${{ env.API_URL }}

    - name: Test API Schema
      run: >
        uv run python utility_scripts/api/api_schema_validate.py

    - name: Upload artifacts
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: hub-api-files
        path: "_hub_api/*"

  publish:
    runs-on: ubuntu-latest
    environment: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'production' || 'preview' }}
    needs: build
    if: ${{ github.actor != 'dependabot[bot]' }}
    permissions:
      id-token: write # This is required for requesting the JWT
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-west-2
        role-session-name: "GitHubActions"
    - name: Download artifacts
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: hub-api-files
        path: "_hub_api"
    - name: Upload to S3
      run: |
        aws s3 sync _hub_api s3://${{ secrets.HUB_API_S3_BUCKET }}/hub-api
