name: Check YAML format

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  merge_group:

jobs:
  lint:
    name: Lint YAML files
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

    - name: Get changed files in the docs folder
      id: changed-files
      uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
      with:
        files: |
          _data/**/*.yml

    - uses: astral-sh/setup-uv@ed21f2f24f8dd64503750218de024bcf64c7250a # v7.1.5

    - name: Lint YAML files
      if: steps.changed-files.outputs.any_changed == 'true'
      run: uvx yamllint ${{ steps.changed-files.outputs.all_changed_files }}
