name: nightly-netlify-build

on:
  schedule:
    - cron: "15 9 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: trigger netlify build
        run: |
          curl -X POST -d '{}' https://api.netlify.com/build_hooks/62c4902aa8c7b817c112c47b
