name: Jekkyll test

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}

jobs:
  tests:
    name: Jekkyll build test
    runs-on: ubuntu-latest
    env:
      JEKYLL_ENV: production
      LC_ALL: C.UTF-8

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3.0.2

    - name: Setup Python
      uses: actions/setup-python@v3.1.2
      with:
        python-version: 3.9
        architecture: x64
    - name: Upgrade pip
      run: |
        pip install pip
        pip --version
    - name: Pip installs
      run: |
        pip install ruamel.yaml
        pip install jsonschema

    - name: Setup Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: '2.7'

    - name: Setup Ruby bundles cache
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-

    - name: Bundle install
      run: |
        bundle install

    - name: Jekyll build
      run: |
        bundle exec jekyll build -d test

    - name: Yaml schema validate
      run: |
        python yaml_validate.py

    - name: API schema validate
      run: |
        python api_schema_validate.py "test/meltano/api/v1/plugins"
