name: Metadata Refresh

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'The environment to run the workflow in'
        required: true
        type: choice
        default: 'preview'
        options:
          - 'preview'
          - 'production'
  schedule:
    - cron: '0 12 * * 1' # Run at midnight UTC on Mondays

jobs:

  metadata_refresh:
    name: Metadata Refresh
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment || github.event_name == 'schedule' && 'production' || 'preview' }}
    env:
      AWS_S3_BUCKET: "${{ secrets.HUB_METADATA_S3_BUCKET }}"
    permissions:
      id-token: write # This is required for requesting the JWT
    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@8df5847569e6427dd6c4fb1cf565c83acfa8afa7 # v6.0.0
      with:
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        aws-region: us-west-2
        role-session-name: "GitHubActions"

    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0

    - name: Install hub-utils
      run: uv tool install ./hub-utils

    - name: Download Raw JSON Output
      run: hub-utils download-metadata "/home/runner/work/downloaded_data" --ignore-list-str="extractors/tap-ga4/connorflyn,extractors/tap-ga4/meltanolabs,extractors/tap-ga4/sehnem,extractors/tap-salesforce-commerce/hotgluexyz,loaders/target-s3/crowemi,loaders/target-s3-parquet/jkausti,extractors/tap-rest-api-msdk/widen,extractors/tap-mailchimp/acarter24,extractors/tap-msaccess/matatika,extractors/tap-totango/edsoncezar16"

    - name: Merge Raw JSON and Existing Definition
      run: hub-utils merge-metadata $(pwd) "/home/runner/work/downloaded_data"

    - name: Get current date
      id: date
      run: echo "date=$(date +'%Y-%m-%d')" >> $GITHUB_OUTPUT

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
      with:
        token: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
        commit-message: Refresh plugin metadata ${{ steps.date.outputs.date }}
        committer: GitHub <noreply@github.com>
        author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
        signoff: false
        branch: hub-bot-metadata-${{ steps.date.outputs.date }}-${{ github.run_id }}-${{ github.run_number }}-${{ github.run_attempt }}
        delete-branch: true
        title: 'chore: [Hub Bot] Refresh metadata ${{ steps.date.outputs.date }}'
        body: |
          Updates Plugin Definitions
        assignees: edgarrmondragon
        reviewers: edgarrmondragon
        draft: false
