name: Plugin Definition Validation

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  merge_group:

jobs:
  tests:
    name: JSON Schema Validation
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

    - name: Plugin definition schema validation
      run: |
        uv run python utility_scripts/plugin_definitions/plugin_schema_validate.py

    - name: Validate plugin names
      run: |
        uv run python utility_scripts/plugin_definitions/yaml_check_names.py

    - name: Validate maintainers
      run: |
        uv run python utility_scripts/plugin_definitions/maintainers_validate.py
