name: Plugin Definition Validation

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}

jobs:
  tests:
    name: JSON Schema Validation
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v4.1.7

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: 3.9
        architecture: x64

    - name: Upgrade pip
      run: |
        pip install pip poetry
        pip --version
        poetry --version

    - name: Poetry install
      run: |
        poetry install

    - name: Plugin definition schema validation
      run: |
        poetry run python utility_scripts/plugin_definitions/plugin_schema_validate.py

    - name: Validate plugin names
      run: |
        poetry run python utility_scripts/plugin_definitions/yaml_check_names.py

    - name: Validate maintainers
      run: |
        poetry run python utility_scripts/plugin_definitions/maintainers_validate.py