name: Plugin Definition Validation

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}
  merge_group:

jobs:
  tests:
    name: JSON Schema Validation
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: Setup Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0

    - uses: astral-sh/setup-uv@5a7eac68fb9809dea845d802897dc5c723910fa3 # v7.1.3

    - name: Plugin definition schema validation
      run: |
        uv run python utility_scripts/plugin_definitions/plugin_schema_validate.py

    - name: Validate plugin names
      run: |
        uv run python utility_scripts/plugin_definitions/yaml_check_names.py

    - name: Validate maintainers
      run: |
        uv run python utility_scripts/plugin_definitions/maintainers_validate.py
