name: Plugin Definition Validation

on:
  pull_request: {}
  push:
    branches: [main]
  workflow_dispatch:
    inputs: {}

jobs:
  tests:
    name: JSON Schema Validation
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repository
      uses: actions/checkout@v3.0.2

    - name: Setup Python
      uses: actions/setup-python@v3.1.2
      with:
        python-version: 3.9
        architecture: x64

    - name: Upgrade pip
      run: |
        pip install pip poetry
        pip --version
        poetry --version

    - name: Poetry install
      run: |
        poetry install

    - name: Yaml schema validate
      run: |
        poetry run python utility_scripts/plugin_definitions/plugin_schema_validate.py

    - name: Yaml name validate
      run: |
        poetry run python yaml_check_names.py
