name: Test Meltano add/install

on:
  push:
    branches: [main]
    paths: [_data/meltano/*/*/*.yml]
  pull_request:
    branches: [main]
    paths: [_data/meltano/*/*/*.yml]

jobs:
  get_changed_plugins:
    name: Get changed plugins
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.changed_plugins.outputs.all_changed_files }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0

      - name: Get changed plugins
        id: changed_plugins
        uses: tj-actions/changed-files@e0021407031f5be11a464abee9a0776171c79891 # v47.0.1
        with:
          files: _data/meltano/*/*/*.yml
          matrix: true

  test:
    name: Install plugin with Meltano
    runs-on: ubuntu-latest
    needs: get_changed_plugins
    strategy:
      matrix:
        file: ${{ fromJSON(needs.get_changed_plugins.outputs.matrix) }}
      fail-fast: false
    steps:
      - name: Checkout the repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0

      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

      - name: Install Meltano
        run: uv tool install --from git+https://github.com/meltano/meltano.git@main meltano

      - name: Setup test project
        run: meltano init --no-usage-stats test-project

      - name: Configure Meltano
        working-directory: test-project
        run: |
          meltano config set meltano cli.log_level debug
          meltano config set meltano venv.backend uv

      - name: Test add
        working-directory: test-project
        run: |
          ref=https://raw.githubusercontent.com/meltano/hub/${{ github.event.pull_request.head.sha || github.sha }}/${{ matrix.file }}
          type=$(basename $(dirname $(dirname ${{ matrix.file }})))
          name=$(basename $(dirname ${{ matrix.file }}))

          meltano add --no-install --from-ref $ref $type $name

      - name: Test install
        working-directory: test-project
        run: meltano install
