name: Validate URLs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * 1'

jobs:

  validate_urls:
    name: Validate URLs
    runs-on: ubuntu-latest
    environment: 'production'
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4.2.2

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.9
          architecture: x64

      - uses: astral-sh/setup-uv@v5.2.2
        with:
          version: ~=0.5.27

      - name: Get invalid URLs
        id: urls
        run: |
          output=$(uv run python utility_scripts/plugin_definitions/check_links.py)
          echo "INVALID_URL<<EOF" >> $GITHUB_ENV
          echo "$output" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - uses: JasonEtco/create-an-issue@v2
        if: env.INVALID_URL != ''
        env:
          GITHUB_TOKEN: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
          INVALID_URLS: ${{ env.INVALID_URL }}
        with:
          filename: .github/ISSUE_TEMPLATE/invalid_urls.md
          update_existing: true
