name: Validate URLs

on:
  workflow_dispatch:
  schedule:
    - cron: '0 13 * * 1'

jobs:

  validate_urls:
    name: Validate URLs
    runs-on: ubuntu-latest
    environment: 'production'
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: 3.9
          architecture: x64

      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4

      - name: Get invalid URLs
        id: urls
        run: |
          output=$(uv run python utility_scripts/plugin_definitions/check_links.py)
          echo "INVALID_URL<<EOF" >> $GITHUB_ENV
          echo "$output" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV
      - uses: JasonEtco/create-an-issue@1b14a70e4d8dc185e5cc76d3bec9eab20257b2c5 # v2.9.2
        if: env.INVALID_URL != ''
        env:
          GITHUB_TOKEN: ${{ secrets.MELTYBOT_GITHUB_AUTH_TOKEN }}
          INVALID_URLS: ${{ env.INVALID_URL }}
        with:
          filename: .github/ISSUE_TEMPLATE/invalid_urls.md
          update_existing: true
